.wrapper {
    display: flex;
    flex-direction: column;
    /* Main Axis */
    justify-content: space-around;
}

.box {
    flex-basis: 300px;
    background-color: peru;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:nth-child(2n) {
    background: #000;
}