@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    padding: 15px;
    font-family: 'Itim', cursive;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

div:first-child,
div:nth-child(2),
div:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
    font-size: 48px;
}


div:first-child {
    background-color: #DAE7DE;
    color: #F4440A;
}

div:nth-child(2) {
    background-color: #008A69;
    color: #FDFDFD;
}

div:nth-child(3) {
    background-color: #F44607;
    color: #FDFDFD;
}

div:nth-child(4) {
    background-color: #F7ABC4;
    color: #F4440A;
}

div:nth-child(5) {
    background-color: #5F5FA9;
    color: #FDFDFD;
}

div:nth-child(6) {
    background-color: #FFC128;
    color: #F4440A;
}

div:nth-child(7) {
    background-color: #F97374;
    color: #FDFDFD;
}